twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes: ['tailwind_2_layout.html.twig']
    globals:
        app_theme: '%env(APP_THEME)%'
        app_album_section: '%env(APP_ALBUM_SECTION)%'
        app_socials: '@App\Service\GlobalSocialNetworks'
        app_company_infos: '@App\Service\GlobalCompanyInfos'

when@test:
    twig:
        strict_variables: true

