{% extends 'themes/'~app_theme~'/layouts/home-section.html.twig' %}

   {% block id %} {{ app_album_section }} {% endblock %}
 {% block class %} relative {% endblock %}
        {#            background #}
       {% block background %}
           <svg class="absolute top-8 left-0 text-secondary/10 dark:text-secondary/30 h-full -z-10 opacity-50"
                viewBox="0 0 450 797"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path d="M449.5 448C460 714.5 257.884 790 135.001 790C86.4987 786 80 787.5 54.9987 787.5C-231.501 847.5 -73.9997 600.997 -73.9997 381.003C-75.2218 94.3933 -75.4999 43.0063 133.5 5.00253C342.501 -33.0012 449.5 196.71 449.5 448Z" />
           </svg>
       {% endblock %}
       {#        background #}
{% block content %}
    <div class="w-full relative">
        {{ component('HomeSectionHeader', {
            title: app_album_section,
            header: "Instantanés capturés",
            description: "Témoins de mes activités et des moments précieux de ma vie quotidienne"
        }) }}

        <div class="w-full grid md:grid-cols-3 gap-5 my-16">

            {% for image in images_from_albums %}
                {{ component('ImageHomeCard', {
                    id: image.album.id,
                    album_name: image.album.name,
                    album_slug: image.album.slug,
                    fileName: image.fileName,
                    alt: image.alt,
                    loop_index: loop.index
                }) }}

            {% endfor %}
        </div>
        {{ component("Button", {
            'label': app_album_section,
            'route': 'app_albums_index'
        }) }}
    </div>
{% endblock %}