{% extends 'themes/'~app_theme~'/layouts/home-section.html.twig' %}

   {% block id %} services{% endblock %}
   {% block class %} relative {% endblock %}
           {#            background #}
           {% block background %}
               <svg class="absolute top-8 left-0 text-secondary/10 dark:text-secondary/30 h-full -z-10 opacity-50"
                    viewBox="0 0 485 828"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                   <path d="M434.5 488C590 801 351.5 869 158 805.5C95.4824 784.984 25.4824 813 2.98242 809.5C-114.961 736.357 -118 599.519 -118 421C-118 280.132 -71.719 132.423 5.00008 56C63.5001 19.5 119.825 0 186 0C328.044 0 295.055 167.72 351.858 344.059C351.951 344.349 352.084 344.617 352.259 344.867C374.915 377.122 398.086 454.716 434.5 488Z"/>
               </svg>
           {% endblock %}
           {#        background #}
   {% block content %}
       <div class="w-full relative">

           {{ component('HomeSectionHeader', {
               title: "A votre service !",
               header: "Crée ton site web - Un espace en ligne pour ta sandwicherie, friterie ou snack, simple et efficace ",
               description: "Que tu gères une sandwicherie, une pizzeria, une boulangerie, un kebab, un food truck, un bar à soupes, un café, un salon de thé ou un bar à smoothie, tu sais que la simplicité et l'efficacité sont essentielles.

Les journées commencent tôt et se terminent tard, avec beaucoup de travail avant et après les heures d'ouverture. Il n'y a pas de temps à perdre à répondre dix fois aux mêmes questions, et il est difficile d'être constamment visible sur les réseaux sociaux.

Avec un site internet, tu auras une présence en ligne claire et accessible. Opte pour la simplicité, choisis la visibilité.

Donne à tes clients potentiels la facilité de trouver toutes les informations dont ils ont besoin en un seul endroit. "
           }) }}


           {% if servicesByCategoryGroup is not empty %}
               <article class="w-full md:w-3/4 mx-auto my-16">
                   <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-24">
                       {% for category in servicesByCategoryGroup %}
                           <div class="w-1/2 md:w-full m-auto bg-[#FFFFFF] dark:bg-[#000000] border border-black/5 dark:border-darkBlack/5 p-6">
                               {{ component("H4", {
                                   "label": category.name,
                                   "class": "pt-14 before:absolute before:-top-1.5 before:left-0 before:bg-secondary/40 before:bg-icon-nurse-white before:bg-[length:50%_50%] before:bg-no-repeat before:bg-center before:content-[''] before:w-12 before:h-12 before:rounded-full"
                               }) }}
                               <ul class="">
                                   {% for service in category.services %}
                                       <li class="relative ">
                                           {{ component('Link', {
                                               class: 'font-poppins-regular text-sm !text-black/90 dark:!text-darkBlack/90 hover:!text-secondary no-underline hover:underline',
                                               label: service.name, route: 'app_services',
                                               fragment: service.id
                                           }) }}
                                       </li>
                                   {% endfor %}
                               </ul>
                           </div>

                       {% endfor %}
                   </div>
                   {{ component("Primary", {
                       'class': 'font-poppins-medium',
                       'label': 'Découvrez les services',
                       'route': 'app_services'
                   }) }}
               </article>
           {% endif %}
       </div>
   {% endblock %}