{% extends 'themes/'~app_theme~'/layouts/home-section.html.twig' %}

   {% block id %} Articles {% endblock %}
   {% block content %}
       <div class="w-full md:w-2/3 mx-auto p-16">
           {{ component('HomeSectionHeader', {
               title: "Articles",
               header: "Quelques articles, actualités et informations utiles",
               description: "",
           }) }}

           <div class="{#w-full md:w-2/3 mx-auto#} my-16 grid grid-cols-1 {# md:grid-cols-2 #} gap-5">
               {% for item in news %}
                   {{ component('News', {news: item}) }}
               {% endfor %}

           </div>
           <div>
               <a href="{{ path('app_news') }}">
                   {{ component("Primary", {
                       'label': 'Toutes les actus',
                       'route': 'app_news'
                   }) }}
               </a>
           </div>
       </div>
   {% endblock %}