<section class="my-16 p-6 flex flex-col justify-center {% block class %} {% endblock %}"
         id="{% block id %}#{% endblock %}">
    {% block background %} {% endblock %}

    {% block content %}

    {% endblock %}
</section>