{% extends 'themes/'~app_theme~'/base.html.twig' %}

{% block body_background %}
    <div class="relative -z-10 h-60 md:h-80 mb-36 bg-secondary/10 dark:bg-secondary/30 flex justify-center items-center">
        <svg  viewBox="0 0 1440 85" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
              class="absolute top-full left-0 text-secondary/10 dark:text-secondary/30 w-full ">
            <path d="M378.203 5.525C477.254 3.4 603.917 5.865 709.104 10.03C812.538 14.195 1019.85 30.005 1149.58 40.375C1481.79 67.745 1735.56 78.2 1993.7 82.62C2097.14 84.405 2207.15 85.595 2446.88 80.495C2686.62 75.395 2912.34 58.735 2912.34 58.735V0H-1470.9V25.755C-1470.9 25.755 -1155.34 53.465 -776.665 51.68C-604.859 51.085 -369.941 45.985 -189.37 32.64C-96.4543 25.755 39.4126 17.17 159.94 12.07C279.152 6.715 333.06 6.375 378.203 5.525Z" />
        </svg>
        {% block page_title %} {% endblock %}
    </div>
{% endblock %}

{% block body %}
{% endblock %}