<section class="my-16 p-6 flex flex-col justify-center {% block class %} {% endblock %}"
         id="{% block id %}#{% endblock %}">
    <h2 class="text-3xl font-bold mt-3 mb-6 before:top-1/2 before:-translate-y-1/2 before:block relative before:content-[' '] before:absolute  before:left-0 before:top-1 before:w-6 before:h-6 before:bg-gradient-to-r before:from-secondary/90 before:to-secondary/10  pl-7 uppercase">
        {% block title %}title{% endblock %}
    </h2>
    {% block content %}

    {% endblock %}
</section>