<section class="min-h-[100vh]  pb-12 mb-12 flex flex-col justify-content-around items-center">
    <div class="w-11/12 min-h-1/2 {#rounded-md shadow-sm#} {#border border-primary-dark #} ">

        {% block content %}

        {% endblock %}
    </div>
</section>