{% if title is not empty %}
    {{ component('H2', {
        label:  title,
        class: "font-poppins-semibold text-secondary dark:text-secondary text-sm leading-5  font-semibold text-center py-3"
    }) }}
{% endif %}

<div class="w-full lg:w-5/6 mx-auto p-3 lg:px-6 text-center">
    {% if header is not empty %}
        {{ component('H3', {
            label: header
        }) }}
    {% endif %}

    {% if description is not empty %}
        <p class="font-poppins-regular text-base leading-loose my-3 py-3"> {{ description }}</p>
    {% endif %}
</div>